html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}

.display-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    width: calc(20rem + 6px);
    height: 100px;
    border: 1px solid rgb(44, 44, 44,0.5);
    background: rgb(44, 44, 44);
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 3rem;
}

.display{
    width: auto;
    /* border: 1px solid red; */
    margin-right: 15px;
}

.disp-none{
    display:none;
}

.msj-error{
    margin-right: 3rem;
    font-size: 1rem;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgb(44, 44, 44,0.5);
}

.cero{
    width: calc(10rem + 2px);
}

.rad-ai{
    border-radius: 0px 0px 0px 10px;
}
.rad-ad{
    border-radius: 0px 0px 10px 0px;
}

.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: rgb(194, 194, 194);
}
.bg-blue{
    background-color: rgb(40, 104, 177);
    color: white;
}

.board{
    width: auto;
    height: auto;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgb(189, 189, 189);
}

.nulo{
    background-color: white;
    color: rgb(206, 206, 206);
}
